.App{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color:bisque
   
}
.container{
   
    text-align: center;
   padding: 30px;
   width: 40%;
  
   background-color: #1B4E64;
    
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 10px 14px;
}
.del{
    background-color:bisque;
   height: 30px;
}

  